.lists-page {
  background-color: darkgray;
  display: block;
  background-image:url(https://img2.10bestmedia.com/Images/Photos/243725/p-RymanBalcony_55_660x440_201404250311.jpg);
  background-size: cover;
  height:1200px;
  top: 50%;
  left:50%
}

.list-form-container {
  display: flex;
  flex-flow: column;
  z-index: 1;
  background-color: #F2F2F2;
  padding: 15px;
  border-radius: 3%;
}

.add-list-form {
  display: inline-block;
  align-items: center;
  text-align: center;
  margin: 10px;
  justify-content: space-between;
  padding: 20px;
  width: 450px;
  justify-items: center;
}
