.singleLists-page {
  background-image: url(https://media2.s-nbcnews.com/i/newscms/2018_26/1348859/nashville-today-180626-tease_96165577d4f8ad35298ca90cc03347d3.jpg);
  // background-image: url(https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F821125998%2F0x0.jpg%3Ffit%3Dscale);
  // background-image: url(https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F821125998%2F0x0.jpg%3Ffit%3Dscale);
  // background-image: url(https://cache.marriott.com/marriottassets/destinations/traveler/780X312_Nashville-At-Night.jpg?interpolation=progressive-bilinear&downsize=600px:*);
  background-image: url(https://media.afar.com/uploads/images/post_images/images/4idx5N3FPH/original_open-uri20130930-22329-4l4al3?1383827945);
  background-image: url(https://fastly.4sqi.net/img/general/600x600/87388367_43_wTCbwIKDS6TmxzrdqaGBMlexQFir-oqUp_WcT4iU.jpg);
  background-size:cover;
  // justify-content: center;
  height: 100em;
  padding-top: 5em;
  // width: 100%;
}
