.songs-page {
  display: inline-block;
  background-color: black;
  background-image: url(https://www.tnvacation.com/sites/default/files/partner/ExitIn-bg.jpg);
  background-size: cover;
  height: 100em;
  justify-content:space-evenly;
  overflow: scroll;
}


.song-form-container {
  display:flex;
  flex-flow:column;
  padding: 10px;
  z-index: 1;
  width: auto;
  background-color: #F2F2F2;
  border-color: black;
  border-radius: 3%;
}

#add-song-form {
  display: block;
  align-items: center;
  text-align: center;
  padding: 20px;
  justify-items: center;
}
